* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* ::before
*::after {
    box-sizing: border-box;
}

.header {
    color: black;
    background-color: white;
    font-family: sans-serif;
}
p, h2 {
    margin: 20px;
    padding: 10 20px;
}
    

.portfolio-container{
    color: black;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 0px;
    margin: 40px;
}

.column {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin:  10px;    
}

img {
    width: 100%;
    height: 250px;
}

button {
    color: white;
    background-color: blue;
    width: 100px;
}

.form-part {
    display: flex;
}