.body {
    font-family:Arial, Helvetica, sans-serif ;
    background-color: white;
    color: blue;
}

.form {
    background-color: aqua;
}

.footer {
    background-color: white;
    color: blue;
}
